@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif !important;
}

body {
	width: 100vw;
	height: auto;
	overflow-x: hidden;
}
.heroImage {
	width: 50%;
}

@media screen and (max-width: 900px) {
	.heroImage {
		width: 80%;
	}
}

.pros__image {
	margin-left: 20px;
}

.authImage {
	width: 100%;
	height: 100%;
}
.footer_link {
	text-decoration: none;
	font-size: 14px;
}
.footer_link:hover {
	text-decoration: underline;
}

.faq__answer {
	font-size: 13px;
	margin-bottom: 20px !important;
	display: block;
	line-height: 25px;
}
.faq_answer_dark .faq__answer {
	color: #ffffff;
}
.faq_answer_light .faq__answer {
	color: #000000;
}
.faq__answer a {
	text-decoration: none;
	color: #12b76a;
}

.faq__answer a:hover {
	text-decoration: underline;
}

button {
	background: none;
	border: none;
	padding: 5px;
}
